
<span class="navbar-brand">DnsConsole-Manager</span>
<div class="navbar-sync-status">
    <span class="sync-status-label" style="margin-right: 20px;">
        Backend: <span :class="getBackendStatusClass(backendHealth.status)">{{ getBackendStatusText(backendHealth.status) }}</span>
    </span>
    <span v-if="syncStatus.last_sync_time" class="sync-status-label">
        Last sync: {{ formatSyncTime(syncStatus.last_sync_time) }}
        <span :class="getSyncStatusClass(syncStatus.status)">{{ syncStatus.status }}</span>
    </span>
    <span v-else class="sync-status-label">
        Sync status: <span class="sync-status-never">{{ syncStatus.status }}</span>

    </span>

    <div v-if="syncStatus.status === 'Failed'" class="tooltip-container">
        <span class="help-icon">?</span>
        <span class="tooltip-text">{{ syncStatus.error_message  }}</span>
    </div>
    <div v-if="syncStatus.status === 'Partial'" class="tooltip-container">
        <span class="help-icon">?</span>
        <span class="tooltip-text">{{ syncStatus.error_message  }}</span>
    </div>
</div>
<div class="navbar-buttons">
    <a href="/" :class="['btn', 'btn-sm', { active: isActivePage('/') }]" style="text-decoration: none; color: inherit;">Dashboard</a>
    <a href="/agents" :class="['btn', 'btn-sm', { active: isActivePage('/agents') }]" style="text-decoration: none; color: inherit;">Agents</a>
    <a href="/dynblock-rules" :class="['btn', 'btn-sm', { active: isActivePage('/dynblock-rules') }]" style="text-decoration: none; color: inherit;">Rules</a>
    <a href="/rules" :class="['btn', 'btn-sm', { active: isActivePage('/rules') }]" style="text-decoration: none; color: inherit;">Summary Rules</a>
    <a href="/summary" :class="['btn', 'btn-sm', { active: isActivePage('/summary') }]" style="text-decoration: none; color: inherit;">Summary Clients</a>
    <a href="/audit" :class="['btn', 'btn-sm', { active: isActivePage('/audit') }]" style="text-decoration: none; color: inherit;">Audit</a>
    <!-- <a href="/users" :class="['btn', 'btn-sm', { active: isActivePage('/users') }]" style="text-decoration: none; color: inherit;">Users</a> -->
    <a href="/users" 
    :class="['btn', 'btn-sm', { active: isActivePage('/users') }]"
    style="text-decoration: none; color: inherit;"
    v-if="authEnabled">
    Users
    </a>
    <a href="/logout" 
    class="btn btn-outline-secondary btn-sm ms-2" 
    v-if="authEnabled"
    style="text-decoration: none; color: inherit;"
    title="Sign out">
    Logout
    </a>
    <button class="btn btn-sm" @click="toggleTheme" :title="isDarkTheme ? 'Switch to Light Theme' : 'Switch to Dark Theme'">
        {{ isDarkTheme ? '☀️' : '🌙' }}
    </button>
    <a href="https://github.com/banoleb/dnsdist-webapi" class="btn btn-sm" style="text-decoration: none; color: inherit;">v0.0.3</a>

</div>
<div class="sync-progress-container">
    <div :class="getBackendStatusClassLoader(backendHealth.status)" :style="{ width: syncProgress + '%' }"></div>
</div>


