<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
</head>

<body>
    <!-- Navbar -->
    <div id="app2">
        <nav class="navbar" data-auth-enabled="{{{ auth_enabled|lower }}}">
            
            {% include 'components/navbar.html' %}
            
        </nav>
    </div>
    <div class="container">
        <h3>
            Oops! Page not found.
        </h3>
        <p>
            The page you requested could not be found.

        </p>
    </div>


<script src="{{{ url_for('static', filename='js/sync_stat.js') }}}"></script>
</body>
</html>
