<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
</head>
{% raw %}
<body>
    <!-- Navbar -->
    <div id="app2">
        <nav class="navbar">
            {% endraw %}
            {% include 'components/navbar.html' %}
            {% raw %}
        </nav>
    </div>
    <div class="container">
        <h3>
            Oops! HTTP 500 Error
        </h3>
        <p>
            HTTP 500 Error

        </p>
    </div>

{% endraw %}
<script src="{{ url_for('static', filename='js/sync_stat.js') }}"></script>
</body>
</html>
